body {
    margin: 8px;
}
h1 {
    font-size: 2em;
    margin : 20px 0px;
}
h2 {
    font-size : 1.5em;
    margin: 20px 0px;
}
ul {
    margin: auto 40px;
}
h3 {
    margin: 20px 0px;
    font-size: 1.15em;
}
p {
    margin: 15px 0px;
}
figure {
    margin: 0px 40px;
}
figcaption {
    font-style: italic;
}
