/* general text formatting */

h1, h2, h3, nav, footer {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}
body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 100%;
}
.main {
    margin: 30px auto;
    width: 600px;
}
legend {
    margin: 0px auto;
    width: 450px;
    text-align: center;
    font-weight: bold;
}
.body {
    width: 560px;
    margin: 20px;
}
.first {
    margin: 20px 0px;
}
label {
    font-size: 80%;
    line-height: 1.5em;
    display: block;
    margin-bottom: 2px;
}
textarea {
    width: 550px;
    border: 1px dashed black;
}
#title {
    width: 530px;
    margin-bottom: 5px;
    border: 1px dashed black;
}
.second {
    margin: 20px 0px 20px 0px;
    height: 218px;
}
.location {
    margin-top: 7px;
    float: left;
    clear:left;
}
select {
    margin-bottom: 15px;
}
input#city {
    width: 280px;
}
.buttons {
    float: right;
    clear: right;
    line-height: 1.8em;
    font-size: 80%;
}
.buttons fieldset {
    width: 200px;
}
fieldset.CC_type {
    margin-top: 5px;
}
#label_copy, #label_CC{
    font-size: 100%;
}
.third {
    margin: 20px 0px;
    font-size: 80%;
    height: 160px;
}
#label_rate, #label_color {
    font-size: 100%;
}
.accept {
    margin : 20px 10px;
}
.rateAndColor {
    margin: 15px 0px;
    float: left;
    clear: left;
}
.dateAndTime {
    padding: 10px;
    width: 200px;
    float: right;
    clear: right;
}
.dateAndTime label {
    font-size: 100%;
    line-height: 1.8em;
}
.submitButtons input {
    margin: 0px 2px;
}
input[type="submit"] {
	border: 1px solid #006633;
	background-color: #009966;
	color: #ffffff;
	border-radius: 5px;
	padding: 5px;
    margin-top: 10px;
    width: 75px;
    height: 30px;
}
input[type="submit"]:hover {
	border:1px solid #006633;
	background-color: #00CC33;
	color: #ffffff;
	cursor: pointer;
}
input[type="reset"] {
	border: 1px solid #006633;
	background-color: #009966;
	color: #ffffff;
	border-radius: 5px;
	padding: 5px;
    margin-top: 10px;
    width: 75px;
    height: 30px;
}
input[type="reset"]:hover {
	border:1px solid #006633;
	background-color: #00CC33;
	color: #ffffff;
	cursor: pointer;
}
.submitButtons {
    text-align: center;
}
input, fieldset, select {
    border: 1px dashed black;
}